@charset "utf-8";

/*列表&編輯頁*/

/*2015.9.25 Jay 強制所有文字斷行*/
* {word-wrap:break-word;word-break:break-all;}

body{
	/*SCROLLBAR-FACE-COLOR: #D2D4D5;
    SCROLLBAR-HIGHLIGHT-COLOR: #D2D4D5;
    SCROLLBAR-SHADOW-COLOR: #ffffff;
    SCROLLBAR-3DLIGHT-COLOR: #ffffff;
    SCROLLBAR-ARROW-COLOR: #ffffff;
    SCROLLBAR-TRACK-COLOR: #F0F0F0;
    SCROLLBAR-DARKSHADOW-COLOR: #D2D4D5;*/
	background-color:#ffffff;
	margin:10px 10px 10px 10px;
	margin:0;
}
td{
	font-size:12px;
	font-family: 微軟正黑體,Verdana, Arial, Helvetica, sans-serif;
	line-height:20px;
	-moz-background-size:contain;-webkit-background-size:contain;-o-background-size:contain;background-size:contain;
}
A:active ,A:link ,A:visited{
	/*color:#000000;*/
	text-decoration:none;
}
A:hover{
	color:#006699;
	text-decoration:none;
}

input{
	
	background-color:rgba(235,235,235,0.2);
	border:1px solid #ccc;
	outline:none;
	font-family:微軟正黑體, Verdana, Arial, Helvetica, sans-serif;
}
input:focus {background-color:#ffffcc;}

select{
	background-color:rgba(235,235,235,0.2);
	border:1px solid #ccc;
	outline:none;
	font-family:微軟正黑體, Verdana, Arial, Helvetica, sans-serif;
}
select:focus {background-color:#ffffcc;}

textarea{
	background-color:rgba(235,235,235,0.2);
	border:1px solid #ccc;
	padding:10px;
	outline:none;
	/*陰影*/
	-moz-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);
	font-family:微軟正黑體, Verdana, Arial, Helvetica, sans-serif;
}
textarea:focus {background:rgba(238,238,238,0.5); background-color:#ffffcc;}

.Radio{
	border:#999999 0px solid;
	background-color:transparent;
}

.css_ReadOnly{
	background-color:#ffffff;
	color:#000000;
	/*border:none;*/
}

.css_ReadOnlyBorder{
	background-color:#ffffff;
	color:#000000;
	border:1px solid #cccccc;
}

.css_ReplyDescr{
	background-color:#ffcccc;
	color:#000000;
	/*border:none;*/
}

.css_Line{
	border-bottom:1px dashed #cccccc;	
}

.ss_msgbox_msg{
	color:#ff0000;
	color:#FFFFCC;
	font-size:13px;
	font-family:微軟正黑體, Verdana, Arial, Helvetica, sans-serif;
}

.ss_msgbox_msg_Wrapper { width:100%; height:40px; height:auto; overflow:hidden; background:rgba(0,0,0,0.6); position:absolute; top:0; left:0;}
.ss_msgbox_msg_Wrapper * { width:100%; line-height:40px; table-layout:fixed;}

.ss_msgbox_status{
	color:#333399;
	font-family:微軟正黑體, Verdana, Arial, Helvetica, sans-serif;
}

/*======== 文字顏色 Start ========*/
.css_BlueTxt{
	color:#0000ff;
}
.css_BlackTxt{
	color:#000000;
}
.css_BrownTxt{
	color:#993300;
}
.css_GreenTxt{
	color:#006600;
}
.css_GrayTxt{
	color:#666666;
}
.css_OrangeTxt{
	color:#ff6600;
}
.css_PurpleTxt{
	color:#8a00ff;
}
.css_RedTxt{
	color:#ff0000;
}
/*======== 文字顏色 End ========*/

/* ======== 新增.修改時 ======== */
.ss_add_subject{
	color:#000066;
	font-family:微軟正黑體, Verdana, Arial, Helvetica, sans-serif;
	width:auto;
}

.ss_add_comment{
	color:#993300;
	font-family:微軟正黑體, Verdana, Arial, Helvetica, sans-serif;
}

.ss_add_star{
	color:#ff0000;
	font-family:微軟正黑體, Verdana, Arial, Helvetica, sans-serif;
}

.ss_add_fun{
	color:#000000;
	font-size:13px;
	text-decoration:none;
	font-family:微軟正黑體, Verdana, Arial, Helvetica, sans-serif;
}
/* ======== 新增.修改時 ======== */

/* ======== 列表頁 ======== */
.ss_input{
	background-color:#ffffcc;
	font-family:微軟正黑體, Verdana, Arial, Helvetica, sans-serif;
}

.ss_lst_comment{
	color:#993300;
	font-family:微軟正黑體, Verdana, Arial, Helvetica, sans-serif;
}

.ss_lst_fun{
	color:#000000;
	font-size:13px;
	text-decoration:none;
	font-family:微軟正黑體, Verdana, Arial, Helvetica, sans-serif;
}

.ss_sel_star{
	color:#ff0000;
	font-family:微軟正黑體, Verdana, Arial, Helvetica, sans-serif;
}

.Title_over{
	background-color:#ffffbf;
	color:#ff3300;
}

.RightDiv font { padding-left:15px;}
/* ======== 列表頁 ======== */

/* ======== 列表頁表格 Start ======== */
.tbStyle01 th{
	clear:both;
	font-family:"微軟正黑體";
	border-top:3px double #7088c6;
	border-right:3px double #7088c6;
	border-bottom:3px double #7088c6;
	border-left:3px double #7088c6;

	font-weight:normal;
	font-size:12px;
	/*color:#0000FF;*/
	padding:1px 1px 1px 1px;
	text-align:center;
	/*white-space:nowrap;*/
	background-color:#d5dbee;
	background:#658dcb;
	border:0;
}

.tbStyle01 .Bgn{
	clear:both;
	border-left:3px double #7088c6;
	background:#658dcb;
	border:0;
	border-bottom:1px solid #fff;
	    border-left: 1px solid #fff;
}

.tbStyle01 th div{
	clear:both;
	padding:5px;
	background-color:#d5dbee;
	border-top:1px solid #7088c6;
	border-right:1px solid #7088c6;
	border-bottom:1px solid #7088c6;
	border-left:1px solid #7088c6;
	height:100%;
	border:0;
	padding:5px 0;
	/*white-space:nowrap;*/
	background:#658dcb;
	border:0;
	color:#fff;
	
}

.tbStyle01 th * { color:#fff;}
.tbStyle01 th { padding:10px 0; border-left:1px solid #fff; font-size:16px; font-size:14px; border-bottom:1px solid #fff;}
.tbStyle01 th.w-60 { width:60px; }
.tbStyle01 th.w-80 { width:80px; }
.tbStyle01 th.w-100 { width:100px; }
.tbStyle01 th.w-120 { width:120px; }
.tbStyle01 th.w-140 { width:140px; }
.tbStyle01 th.w-150 { width:150px; }
.tbStyle01 th.w-200 { width:200px; }
.tbStyle01 th.w-250 { width:250px; }
.tbStyle01 th.click-num { width:100px; }
.tbStyle01 th.percentage { width:100px; }
.tbStyle01 th.total { width:100px; }
.tbStyle01 th.mem-sts { width:100px; }
.tbStyle01 th.rec-sts { width:80px; }
.tbStyle01 th.top-sts { width:60px; }
.tbStyle01 th.cover-sts { width:60px; }
.tbStyle01 th.tel { width:160px; }
.tbStyle01 th.date { width:120px; }
.tbStyle01 th.datetime { width:220px; }
.tbStyle01 th.url-link { width:60px; }
.tbStyle01 th.edit { width:60px; }
.tbStyle01 th.detail { width:60px; }
.tbStyle01 th.detail-80 { width:80px; }
.tbStyle01 th.dbsts { width:100px; }
.tbStyle01 th.del { width:60px; }

.tbStyle01 td{
	clear:both;
	padding:3px;
	/*margin:3px;*/
	/*border:0px solid #996600;*/
	border-right:1px solid #ffffff;
	padding:15px 10px;
	font-size:14px;
	
}

.odd{
	background-color:#f5f5f5;
}

.even{
	background-color:#ffffff;
}

.tbNoPadd{
	padding:0px;
	margin:0px;
}
.tbNoPadd td{
	padding:0px;
	margin:0px;
}
/* ======== 列表頁表格 End ======== */

/*======== 表格(粉藍) Start ========*/
.css_TableLightBlue{
	width:100%;
	border-top:1px solid #7088c6;
	border-right:1px solid #7088c6;
	border-collapse:collapse;
}

.css_TableLightBlue td.Title{
	background-color:#d5dbee;
	color:#000000;
	padding:0px 3px 0px 3px;
	/*vertical-align:text-top;*/		
	border-bottom:1px solid #7088c6;
	border-left:1px solid #7088c6;
}
.css_TableLightBlue td{
	background-color:#ffffff;
	color:#000000;
	padding:6px 3px 6px 3px;
	border-bottom:1px solid #7088c6;
	border-left:1px solid #7088c6;
}
tr.odd_TableLightBlue td{
	background-color:#ffffff;
	border-bottom:1px solid #7088c6;
	border-left:1px solid #7088c6;
}	
tr.even_TableLightBlue td{
	background-color:#f9f9f9;
	border-bottom:1px solid #7088c6;
	border-left:1px solid #7088c6;
}	
tr.over_TableLightBlue td{
	background-color:#ffffcc;
	color:#ff0000;
	border-bottom:1px solid #7088c6;
	border-left:1px solid #7088c6;
}	
/*======== 表格(粉藍) End ========*/

/* ======== 功能選單按鈕 Start ======== */
.css_FnBu{
	width:76px;
	height:21px;
	line-height:21px;
	background-image:url('../Images/Bg_FnBu.gif');
	background-repeat:no-repeat;
	background-position:bottom;
	color:#ffffff;
	text-align:center;
	letter-spacing:2px;
	vertical-align:bottom;
	padding-bottom:2px; *padding-bottom:0px;
	/*font-size:10pt;*/
}
.css_FnBu_over{
	width:76px;
	height:21px;
	line-height:21px;
	background-image:url('../Images/Bg_FnBu_o.gif');
	background-repeat:no-repeat;
	background-position:bottom;
	color:#ffffff;
	text-align:center;
	letter-spacing:2px;
	vertical-align:bottom;
	padding-bottom:2px; *padding-bottom:0px;
	/*font-size:10pt;*/
}
/*20150930 Ruru修改 start*/
.FnBu_wrapper{ width:100%; height:auto; overflow:hidden;text-align: center; margin:10px 0;}
    .FnBu_wrapper div, .ControlBut {
        width: 80px;
        height: 80px;
        overflow: hidden;
        display: inline-block;
        text-align: center;
        margin-left: 2px;
        text-indent: -99999px;
        cursor: pointer;
    }
.FnBu_icon_add{ background:url(../Images/FnBu_icon_add.jpg) no-repeat;}
.FnBu_icon_add:hover{ background:url(../Images/FnBu_icon_add_o.jpg) no-repeat;}

.FnBu_icon_startAndEnd{ background:url(../Images/FnBu_icon_startAndEnd.jpg) no-repeat;}
.FnBu_icon_startAndEnd:hover{ background:url(../Images/FnBu_icon_startAndEnd_o.jpg) no-repeat;}

.FnBu_icon_delete{ background:url(../Images/FnBu_icon_delete.jpg) no-repeat;}
.FnBu_icon_delete:hover{ background:url(../Images/FnBu_icon_delete_o.jpg) no-repeat;}

.FnBu_icon_browse{ background:url(../Images/FnBu_icon_browse.jpg) no-repeat;}
.FnBu_icon_browse:hover{ background:url(../Images/FnBu_icon_browse_o.jpg) no-repeat;}

.FnBu_icon_modify{ background:url(../Images/FnBu_icon_modify.jpg) no-repeat;}
.FnBu_icon_modify:hover{ background:url(../Images/FnBu_icon_modify_o.jpg) no-repeat;}

.FnBu_icon_best{ background:url(../Images/FnBu_icon_best.jpg) no-repeat;}
.FnBu_icon_best:hover{ background:url(../Images/FnBu_icon_best_o.jpg) no-repeat;}

.FnBu_icon_change{ background:url(../Images/FnBu_icon_change.jpg) no-repeat;}
.FnBu_icon_change:hover{ background:url(../Images/FnBu_icon_change_o.jpg) no-repeat;}

.FnBu_icon_cleanSearch{ background:url(../Images/FnBu_icon_cleanSearch.jpg) no-repeat;}
.FnBu_icon_cleanSearch:hover{ background:url(../Images/FnBu_icon_cleanSearch_o.jpg) no-repeat;}

.FnBu_icon_copy{ background:url(../Images/FnBu_icon_copy.jpg) no-repeat;}
.FnBu_icon_copy:hover{ background:url(../Images/FnBu_icon_copy_o.jpg) no-repeat;}

.FnBu_icon_cover{ background:url(../Images/FnBu_icon_cover.jpg) no-repeat;}
.FnBu_icon_cover:hover{ background:url(../Images/FnBu_icon_cover_o.jpg) no-repeat;}

.FnBu_icon_files{ background:url(../Images/FnBu_icon_files.jpg) no-repeat;}
.FnBu_icon_files:hover{ background:url(../Images/FnBu_icon_files_o.jpg) no-repeat;}

.FnBu_icon_files2{ background:url(../Images/FnBu_icon_files2.jpg) no-repeat;}
.FnBu_icon_files2:hover{ background:url(../Images/FnBu_icon_files2_o.jpg) no-repeat;}

.FnBu_icon_newProduct{ background:url(../Images/FnBu_icon_newProduct.jpg) no-repeat;}
.FnBu_icon_newProduct:hover{ background:url(../Images/FnBu_icon_newProduct_o.jpg) no-repeat;}

.FnBu_icon_preinstall{ background:url(../Images/FnBu_icon_preinstall.jpg) no-repeat;}
.FnBu_icon_preinstall:hover{ background:url(../Images/FnBu_icon_preinstall_o.jpg) no-repeat;}

.FnBu_icon_print{ background:url(../Images/FnBu_icon_print.jpg) no-repeat;}
.FnBu_icon_print:hover{ background:url(../Images/FnBu_icon_print_o.jpg) no-repeat;}

.FnBu_icon_reply{ background:url(../Images/FnBu_icon_reply.jpg) no-repeat;}
.FnBu_icon_reply:hover{ background:url(../Images/FnBu_icon_reply_o.jpg) no-repeat;}

.FnBu_icon_search{ background:url(../Images/FnBu_icon_search.jpg) no-repeat;}
.FnBu_icon_search:hover{ background:url(../Images/FnBu_icon_search_o.jpg) no-repeat;}

.FnBu_icon_stop{ background:url(../Images/FnBu_icon_stop.jpg) no-repeat;}
.FnBu_icon_stop:hover{ background:url(../Images/FnBu_icon_stop_o.jpg) no-repeat;}

.FnBu_icon_top{ background:url(../Images/FnBu_icon_top.jpg) no-repeat;}
.FnBu_icon_top:hover{ background:url(../Images/FnBu_icon_top_o.jpg) no-repeat;}

.FnBu_icon_type{ background:url(../Images/FnBu_icon_type.jpg) no-repeat;}
.FnBu_icon_type:hover{ background:url(../Images/FnBu_icon_type_o.jpg) no-repeat;}

.FnBu_icon_up{ background:url(../Images/FnBu_icon_up.jpg) no-repeat;}
.FnBu_icon_up:hover{ background:url(../Images/FnBu_icon_up_o.jpg) no-repeat;}

.FnBu_icon_inventory{ background:url(../Images/FnBu_icon_inventory.jpg) no-repeat;}
.FnBu_icon_inventory:hover{ background:url(../Images/FnBu_icon_inventory_o.jpg) no-repeat;}

.FnBu_icon_deleteExcel{ background:url(../Images/FnBu_icon_deleteExcel.jpg) no-repeat;}
.FnBu_icon_deleteExcel:hover{ background:url(../Images/FnBu_icon_deleteExcel_o.jpg) no-repeat;}

.FnBu_icon_import{ background:url(../Images/FnBu_icon_import.jpg) no-repeat;}
.FnBu_icon_import:hover{ background:url(../Images/FnBu_icon_import_o.jpg) no-repeat;}

.FnBu_icon_download{ background:url(../Images/FnBu_icon_download.jpg) no-repeat;}
.FnBu_icon_download:hover{ background:url(../Images/FnBu_icon_download_o.jpg) no-repeat;}

.FnBu_icon_upToDateProduct{ background:url(../Images/FnBu_icon_upToDateProduct.jpg) no-repeat;}
.FnBu_icon_upToDateProduct:hover{ background:url(../Images/FnBu_icon_upToDateProduct_o.jpg) no-repeat;}

.FnBu_icon_selectProduct{ background:url(../Images/FnBu_icon_selectProduct.jpg) no-repeat;}
.FnBu_icon_selectProduct:hover{ background:url(../Images/FnBu_icon_selectProduct_o.jpg) no-repeat;}

.FnBu_icon_money{ background:url(../Images/FnBu_icon_money.jpg) no-repeat;}
.FnBu_icon_money:hover{ background:url(../Images/FnBu_icon_money_o.jpg) no-repeat;}

.FnBu_icon_renew{ background:url(../Images/FnBu_icon_renew.jpg) no-repeat;}
.FnBu_icon_renew:hover{ background:url(../Images/FnBu_icon_renew_o.jpg) no-repeat;}
/*20150930 Ruru修改 End*/


/* ======== 功能選單按鈕 End ======== */

/*分頁設定*/
.css_PageList {
	/*padding-right: 3px;
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 3px;
	margin: 3px;*/
	text-align: left;
	width:100%;
	height:auto;
	overflow:hidden;
	min-height:40px;
}
.css_PageList * { padding:5px 10px; box-sizing:border-box; margin:3px; display:inline-block; overflow:hidden; font-size:16px;}
.css_PageList .current { padding:14px 20px;}
.css_PageList A,.css_PageList a:link,.css_PageList a:visited ,.css_PageList a:active {
	border-right: #eee 1px solid;
	border-left: #eee 1px solid;
	border-top: #eee 1px solid;
	border-bottom: #eee 1px solid;
	/*padding-right: 5px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 2px;*/
	font-family:微軟正黑體, Geneva, sans-serif;
	color: #036cb4;
	text-decoration: none;
	
}
.css_PageList A:hover{
	border-right: #999 1px solid;
	border-left: #999 1px solid;
	border-top: #999 1px solid;
	border-bottom: #999 1px solid;
	font-family:微軟正黑體, Geneva, sans-serif;
	color: #ffffff; 
	text-decoration:none;
	background:#036cb4;
}
.css_PageList .current {
	/*padding-right: 5px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 2px;*/
	font-family:微軟正黑體, Geneva, sans-serif;
	color: #000000;
	font-weight: bold;
}
.css_PageList .disabled {
	border-right: #eee 1px solid; 
	border-left: #eee 1px solid;
	border-top: #eee 1px solid;
	border-bottom: #eee 1px solid;
	/*padding-right: 5px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 2px;*/
	font-family:微軟正黑體, Geneva, sans-serif;
	text-decoration:none;
	color: #ddd;  
}
.css_PageList .total {
	font-family:微軟正黑體, Geneva, sans-serif;color:036cb4;
}
/*.css_PageList_EN{line-height:1.2em;vertical-align:middle;font-size:12px;}
.css_PageList_TW{line-height:0px;vertical-align:middle;font-size:11px;}*/

.css_DataList{ padding:0 0 5px 0; border-bottom:1px dashed #eee;}
.css_DataList ul{ margin:0; width:480px;}
.css_DataList ul li{ list-style-type:none;width:150px;display:inline-block;*display:inline;vertical-align:top;}

.clearfix:after{display:block;visibility:hidden;clear:both;height:0;font-size:0;content:".";}
.css_ShopFor ul{margin:0;padding:0;list-style-type:none;width:510px;}
.css_ShopFor ul li{clear:both;width:100%;border-bottom:1px dashed #eee;padding:5px 0 5px 0;}
.css_ShopFor ul li ul{width:460px;margin-left:25px;}
.css_ShopFor ul li ul li{clear:none;width:150px; border-bottom:none;padding:3px 0 0 0;display:inline-block;*display:inline;vertical-align:top;}

.notice{
	color:#FF0000;
}
/*2015.8.3 Jay fixed 解決後台列印合約時左側選單會顯示的問題,列印合約時不用顯示左側操作選單*/
@media print{
	.left { display:none;}.right { width:100%;} 
	}

/*-------------------------------共用設定-------------------------------*/
/*換頁及取消全選*/
.PageListWrap { width:100%; height:auto; overflow:hidden;}
.PageListWrap .PageListWrapLeft { width:100%; height:auto; overflow:hidden; padding:10px 0;}
.PageListWrap .PageListWrapRight { width:100%; height:auto; overflow:hidden; text-align:right; padding:10px 0;}

form .right td { font-size:16px; font-size:14px;}
form .right input[type="checkbox"] { width:30px; height:30px; overflow:hidden;}
form .right select { min-height:30px; line-height:30px; font-size:16px; min-width:43px;}
form .right select[name="selDBSts"] { width:70px;}
form .right select[name="selSrhDate"] { width:150px;}
/*刪除圖片按鈕位置浮動*/
.ugA_ImageDelInputWrap * { float:left; line-height:36px;}


/*修改圖示變大 寬30px*/
form .right a img[alt="修改"] { width:40px;}
form .right table, /*form .right th,*/ form .right td { width:100%; table-layout:fixed;}

/*------------------------------區域欄位設定-------------------------------*/
.RightDiv div.addressformWrapper{ width:100%; height:auto; overflow:hidden;}
.RightDiv div.addressform{ width:10%; min-width:115px; height:33px; float:left; text-align:left; margin-right:10px;}

/*------------------------------inputBox設定-------------------------------*/
.RightDiv div.inputBox{ width:auto;}
.RightDiv div.inputBox2{ width:25%;}

/*-------------------------------上方選單特別設定------------------------------*/
.Left01w { width:100%;font-size: 16px;}
div.Left01w .Left01 { width:25%; float:left;}
div.Left01w .Left02 { width:50%; float:left;}

/*-------------------------------頁碼設定------------------------------*/
.ugA_MenuPageWrapper{ width:100%; height:auto; overflow:hidden; margin:10px 0;}
.ugA_MenuPageLeft{ width:90%; float:left;}
.ugA_MenuPageRight{ width:10%; float:right; font-size:16px; text-align:right; height:54px; line-height:54px;}

form .right .menuWrapper input{ height:27px;}
form .right input.longForm{ width:600px;}
.ContentDivWrapper .ContentDiv input.shortForm{ width:110px; height:30px; height:auto;}
.ContentDivWrapper .ContentDiv div.shortFormWrapper{ width:auto;}


/*-------------------------------01.權限管理-------------------------------*/
/*2015.9.25 每個單元必下*/
.User table, .User th, .User td { table-layout:fixed; width:100%;}

.MenuGroup table, .MenuGroup th, .MenuGroup td { table-layout:fixed; width:100%;}
.MenuGroup .menuWrapper{ width:100%; height:auto; overflow:hidden; font-size:16px; text-align:left;}
.MenuGroup .menuWrapper input[type="checkbox"] { width: 30px; height: 30px; padding: 0 5px; margin: 0 5px; float:left;}

.menu-group-cat-name {background-color:gray; color:white; font-weight:bold;}

/*-------------------------------02.系統設定(單元名稱)背景底圖-------------------------------*/
.Settings table.tbStyle01 th:nth-child(4n+1){ width:210px;}
.Settings table.tbStyle01 th:nth-child(4n+3){ width:120px;}
.Settings table.tbStyle01 th:nth-child(4n+4){ width:60px;}
.Settings table.ugA_Settings_unit td:nth-of-type(4n+3){ text-align:center; width:30%; max-width:120px;}
.Settings table.ugA_Settings_unit th:nth-child(4n+1){ width:120px;}
/*2015.9.25 每個單元必下*/
.Settings table, .Settings th, .Settings td { table-layout:fixed; width:100%;}
.ugA_Settings_unit{ height:30px; min-height:30px; line-height:30px; float:left;}
.Settings form input[type="checkbox"] { width: 30px; height: 30px; padding: 0 5px; margin: 0 5px; float:left;}
.Settings .ugA_Settings_unit_m * { float:left; line-height:36px;}

/*-------------------------------04.單元點擊次數-------------------------------*/
.Counter table.tbStyle01 th:nth-child(5n+3){ width:100px;}
.Counter table.tbStyle01 th:nth-child(5n+5){ width:90px;}
/*2015.9.25 每個單元必下*/
.Counter table, .Counter th, .Counter td { table-layout:fixed; width:100%;}



/*-------------------------------06.廣告輪播管理-------------------------------*/
.Banner table.tbStyle01 th:nth-child(9n+6){ width:60px;}
.Banner table.tbStyle01 th:nth-child(9n+7){ width:60px;}
.Banner table.tbStyle01 th:nth-child(9n+8){ width:100px;}
.Banner table.tbStyle01 th:nth-child(9n+9){ width:60px;}
.Banner .ugA_Banner_m * { float:left; line-height:36px;}
/*2015.10.02 每個單元必下*/
.Banner table, .Counter th, .Counter td { table-layout:fixed; width:100%;}

/*-------------------------------07.關於我們(多頁介紹)-------------------------------*/
/*2015.10.02 每個單元必下*/
.Company table, .Counter th, .Counter td { table-layout:fixed; width:100%;}

/*-------------------------------08.關於我們(分類多頁)-------------------------------*/
.Company2 table.tbStyle01 th:nth-child(6n+3){ width:60px;}
.Company2 table.tbStyle01 th:nth-child(6n+4){ width:60px;}
.Company2 table.tbStyle01 th:nth-child(6n+5){ width:100px;}
.Company2 table.tbStyle01 th:nth-child(6n+6){ width:60px;}
/*2015.10.02 每個單元必下*/
.Company2 table, .Counter th, .Counter td { table-layout:fixed; width:100%;}

/*-------------------------------08.關於我們(分類多頁)-------------------------------*/
.Company_Two table.tbStyle01 th:nth-child(6n+3){ width:60px;}
.Company_Two table.tbStyle01 th:nth-child(6n+4){ width:60px;}
.Company_Two table.tbStyle01 th:nth-child(6n+5){ width:100px;}
.Company_Two table.tbStyle01 th:nth-child(6n+6){ width:60px;}
/*2015.10.02 每個單元必下*/
.Company_Two table, .Counter th, .Counter td { table-layout:fixed; width:100%;}


/*-------------------------------09.最新消息-------------------------------*/
.News table{ display: inline-table;}
/*2015.10.02 每個單元必下*/
.News table, .Counter th, .Counter td { table-layout:fixed; width:100%;}

/*文章發表類*/

/*網站連結類*/
.News table.ugA_NewsURL th:nth-child(8n+4){ width:60px;}
.News table.ugA_NewsURL th:nth-child(8n+5){ width:60px;}
.News table.ugA_NewsURL th:nth-child(8n+6){ width:60px;}
.News table.ugA_NewsURL th:nth-child(8n+7){ width:100px;}
.News table.ugA_NewsURL th:nth-child(8n+8){ width:60px;}

/*-------------------------------10.新聞牆-------------------------------*/
.NewsGallery table{ display: inline-table;}

.NewsGallery table.ugA_NewsGalleryCat th:nth-child(6n+3){ width:60px;}
.NewsGallery table.ugA_NewsGalleryCat th:nth-child(6n+4){ width:60px;}
.NewsGallery table.ugA_NewsGalleryCat th:nth-child(6n+5){ width:100px;}
.NewsGallery table.ugA_NewsGalleryCat th:nth-child(6n+6){ width:60px;}
/*2015.10.02 每個單元必下*/
.NewsGallery table, .Counter th, .Counter td { table-layout:fixed; width:100%;}

/*資料管理*/
.NewsGallery table.ugA_NewsGallery th:nth-child(7n+4){ width:60px;}
.NewsGallery table.ugA_NewsGallery th:nth-child(7n+5){ width:60px;}
.NewsGallery table.ugA_NewsGallery th:nth-child(7n+6){ width:100px;}
.NewsGallery table.ugA_NewsGallery th:nth-child(7n+7){ width:60px;}


/*-------------------------------11.常見問題-------------------------------*/
.Faq table{ display: inline-table;}
.Faq table.ugA_FaqCat th:nth-child(6n+3){ width:60px;}
.Faq table.ugA_FaqCat th:nth-child(6n+4){ width:60px;}
.Faq table.ugA_FaqCat th:nth-child(6n+5){ width:100px;}
.Faq table.ugA_FaqCat th:nth-child(6n+6){ width:60px;}
/*2015.10.02 每個單元必下*/
.Faq table, .Counter th, .Counter td { table-layout:fixed; width:100%;}

/*問題資料*/
.Faq table.ugA_Faq th:nth-child(6n+3){ width:60px;}
.Faq table.ugA_Faq th:nth-child(6n+4){ width:60px;}
.Faq table.ugA_Faq th:nth-child(6n+5){ width:100px;}
.Faq table.ugA_Faq th:nth-child(6n+6){ width:60px;}


/*-------------------------------12.檔案下載-------------------------------*/
.Down table.ugA_DownCat th:nth-child(7n+4){ width:60px;}
.Down table.ugA_DownCat th:nth-child(7n+5){ width:60px;}
.Down table.ugA_DownCat th:nth-child(7n+6){ width:100px;}
.Down table.ugA_DownCat th:nth-child(7n+7){ width:60px;}
.Down .ugA_Down_m * { float:left; line-height:36px;}
/*2015.10.02 每個單元必下*/
.Down table, .Counter th, .Counter td { table-layout:fixed; width:100%;}

/*下載資料*/
.Down table.ugA_Down th:nth-child(6n+4){ width:60px;}
.Down table.ugA_Down th:nth-child(6n+5){ width:100px;}
.Down table.ugA_Down th:nth-child(6n+6){ width:60px;}


/*-------------------------------13.友站連結-------------------------------*/
.Link table.ugA_LinkType th:nth-child(6n+3){ width:60px;}
.Link table.ugA_LinkType th:nth-child(6n+4){ width:60px;}
.Link table.ugA_LinkType th:nth-child(6n+5){ width:100px;}
.Link table.ugA_LinkType th:nth-child(6n+6){ width:60px;}
/*2015.10.02 每個單元必下*/
.Link table, .Counter th, .Counter td { table-layout:fixed; width:100%;}

/*資料管理　*/
.Link table.ugA_Link th:nth-child(6n+3){ width:60px;}
.Link table.ugA_Link th:nth-child(6n+4){ width:60px;}
.Link table.ugA_Link th:nth-child(6n+5){ width:100px;}
.Link table.ugA_Link th:nth-child(6n+6){ width:60px;}



/*-------------------------------18.會員管理-------------------------------*/
/*下拉選單設定*/
.Acct .menuWrapper{ width:100%; height:auto; overflow:hidden; font-size:16px; line-height:30px;}
.Acct .menuLeft,.Acct .menuRight{ width:22%; height:auto; overflow:hidden; float:left;}
.Acct .menuLeft:first-child{ width:34%;}
.Acct .menuWrapper input[type="checkbox"] { width: 30px; height: 30px; padding: 0 5px; margin: 0 5px; float:left;}
.Acct .menuWrapper .menuLeft input[name="txtSAcctName"],.menuWrapper .menuRight input[name="txtSAcctName"] {height: 30px; line-height:30px;}
.Acct .menuWrapper .menuLeft input[name="txtSLoginID"],.menuWrapper .menuRight input[name="txtSLoginID"] {height: 30px; line-height:30px;}

.Acct table.ugA_AcctCat th:nth-child(5n+4){ width:60px;}
.Acct table.ugA_AcctCat th:nth-child(5n+5){ width:90px;}
/*2015.10.05 每個單元必下*/
.Acct table, .Counter th, .Counter td { table-layout:fixed; width:100%;}

/*會員資料*/
.Acct table.ugA_Acct th:nth-child(11n+1){ width:100px;}
.Acct table.ugA_Acct th:nth-child(11n+3){ width:80px;}
.Acct table.ugA_Acct th:nth-child(11n+5){ width:80px;}
.Acct table.ugA_Acct th:nth-child(11n+6){ width:80px;}
.Acct table.ugA_Acct th:nth-child(11n+7){ width:80px;}
.Acct table.ugA_Acct th:nth-child(11n+8){ width:70px;}
.Acct table.ugA_Acct th:nth-child(11n+9){ width:70px;}
.Acct table.ugA_Acct th:nth-child(11n+10){ width:90px;}
.Acct table.ugA_Acct th:nth-child(11n+11){ width:60px;}

.Acct .RightDiv01{ width:100%;}
.Acct div.RightDiv01Left{ width:10%; float:left;}
.Acct div.RightDiv01Right{ width:90%; float:left; text-align:left;}



/*-------------------------------43.電子報訂閱名單------------------------------*/
.EpaperEmail table.ugA_EpaperEmail th:nth-child(5n+3){ width:80px;}
.EpaperEmail table.ugA_EpaperEmail th:nth-child(5n+4){ width:100px;}
.EpaperEmail table.ugA_EpaperEmail th:nth-child(5n+5){ width:60px;}

/*2015.10.07 每個單元必下*/
.EpaperEmail table, .Counter th, .Counter td { table-layout:fixed; width:100%;}


/*-------------------------------44.電子報編輯------------------------------*/
/*選單*/
.Epaper .ugA_Epaper_search{ height:30px; min-height:30px; line-height:30px;/* float:left;*/ }
.Epaper form .right input[type="checkbox"] { width: 30px; height: 30px; line-height:30px; padding: 0 5px; margin: 0 5px; float:left;}
.Epaper .ugA_Epaper_Left{ width:30%; float:left; margin-bottom:5px;}
.Epaper .ugA_Epaper_Left2{ width:40%; float:left;}

.Epaper table.ugA_Epaper th:nth-child(9n+5){ width:60px;}
.Epaper table.ugA_Epaper th:nth-child(9n+6){ width:60px;}
.Epaper table.ugA_Epaper th:nth-child(9n+7){ width:60px;}
.Epaper table.ugA_Epaper th:nth-child(9n+8){ width:60px;}
.Epaper table.ugA_Epaper th:nth-child(9n+9){ width:60px;}

/*2015.10.07 每個單元必下*/
.Epaper table, .Counter th, .Counter td { table-layout:fixed; width:100%;}


/*-------------------------------48.電子投票------------------------------*/
/*2015.10.07 每個單元必下*/
.Vote table, .Counter th, .Counter td { table-layout:fixed; width:100%;}


/*-------------------------------49.交流園地------------------------------*/
.Forum table.ugA_ForumCat th:nth-child(6n+3){ width:60px;}
.Forum table.ugA_ForumCat th:nth-child(6n+4){ width:80px;}
.Forum table.ugA_ForumCat th:nth-child(6n+5){ width:100px;}
.Forum table.ugA_ForumCat th:nth-child(6n+6){ width:60px;}
.Forum .ugA_ForumCat_m * { float:left; line-height:36px;}

/*2015.10.07 每個單元必下*/
.Forum table, .Counter th, .Counter td { table-layout:fixed; width:100%;}

/*討論主題*/
.Forum table.ugA_ForumItem th:nth-child(9n+6){ width:60px;}
.Forum table.ugA_ForumItem th:nth-child(9n+7){ width:80px;}
.Forum table.ugA_ForumItem th:nth-child(9n+8){ width:100px;}
.Forum table.ugA_ForumItem th:nth-child(9n+9){ width:60px;}

/*討論回應　*/
.Forum table.ugA_ForumReply th:nth-child(6n+5){ width:60px;}
.Forum table.ugA_ForumReply th:nth-child(6n+6){ width:60px;}



/*-------------------------------50.線上諮詢------------------------------*/
/*2015.10.07 每個單元必下*/
.Inquiry table, .Counter th, .Counter td { table-layout:fixed; width:100%;}

/*下拉選單*/
.Inquiry .menuWrapper{ width:100%; height:auto; overflow:hidden; font-size:16px; text-align:left;}
.Inquiry .menuLeft{ width:33.3333%; height:auto; overflow:hidden; float:left; margin-bottom:10px; line-height:30px;}
.Inquiry .menuWrapper input[type="checkbox"] { width: 30px; height: 30px; padding: 0 5px; margin: 0 5px; float:left;}

/*-------------------------------51.問卷調查------------------------------*/
.Survey table.ugA_SurveyCat th:nth-child(7n+4){ width:60px;}
.Survey table.ugA_SurveyCat th:nth-child(7n+5){ width:60px;}
.Survey table.ugA_SurveyCat th:nth-child(7n+6){ width:100px;}
.Survey table.ugA_SurveyCat th:nth-child(7n+7){ width:60px;}

/*2015.10.07 每個單元必下*/
.Survey table, .Counter th, .Counter td { table-layout:fixed; width:100%;}

/*問卷資料　*/
.Survey table.ugA_Survey th:nth-child(9n+5){ width:60px;}
.Survey table.ugA_Survey th:nth-child(9n+6){ width:60px;}
.Survey table.ugA_Survey th:nth-child(9n+7){ width:60px;}
.Survey table.ugA_Survey th:nth-child(9n+8){ width:100px;}
.Survey table.ugA_Survey th:nth-child(9n+9){ width:60px;}

/*問卷題目*/
.Survey table.ugA_SurveyItem th:nth-child(7n+4){ width:60px;}
.Survey table.ugA_SurveyItem th:nth-child(7n+5){ width:60px;}
.Survey table.ugA_SurveyItem th:nth-child(7n+6){ width:100px;}
.Survey table.ugA_SurveyItem th:nth-child(7n+7){ width:60px;}

/*題目選項*/
.Survey table.ugA_SurveySel th:nth-child(5n+3){ width:60px;}
.Survey table.ugA_SurveySel th:nth-child(5n+4){ width:100px;}
.Survey table.ugA_SurveySel th:nth-child(5n+5){ width:60px;}

/*問卷樣本　*/
.Survey table.ugA_SurveyRecCat th:nth-child(9n+5){ width:60px;}
.Survey table.ugA_SurveyRecCat th:nth-child(9n+7){ width:60px;}
.Survey table.ugA_SurveyRecCat th:nth-child(9n+8){ width:60px;}
.Survey table.ugA_SurveyRecCat th:nth-child(9n+9){ width:60px;}



/*-------------------------------58.首頁燈箱廣告------------------------------*/
.WinAD table.ugA_WinAD th:nth-child(6n+4){ width:60px;}
.WinAD table.ugA_WinAD th:nth-child(6n+5){ width:100px;}
.WinAD table.ugA_WinAD th:nth-child(6n+6){ width:60px;}
.WinAD .ugA_WinAd_m * { float:left; line-height:36px;}

/*2015.10.08 每個單元必下*/
.WinAD table, .Counter th, .Counter td { table-layout:fixed; width:100%;}


/*-------------------------------95.前台單元設定 天(選單底圖)地(版權宣告)------------------------------*/
.settings_ago table.ugA_MenuAgo th:nth-child(5n+5){ width:100px;}

/*2015.10.13 每個單元必下*/
.settings_ago table, .Counter th, .Counter td { table-layout:fixed; width:100%;}

/*前台Menu底圖　*/
.settings_ago table.ugA_Settings_MenuAgo th:nth-child(4n+4){ width:60px;}
.settings_ago table.ugA_Settings_MenuAgo th:nth-child(4n+3){ width:60px;}
.settings_ago table.ugA_Settings_MenuAgo th:nth-child(4n+1){ width:210px;}




@media only screen and (min-width:0px) and (max-width:1615px) {
	
	/*-------------------------------會員管理------------------------------*/
    .Acct div.RightDiv01Left{ width:12%;}
    .Acct div.RightDiv01Right{ width:88%;}
	
}

@media only screen and (min-width:0px) and (max-width:1500px) {
	
	/*-------------------------------電子報編輯------------------------------*/
	/*選單*/
	.Epaper .ugA_Epaper_Left{ width:50%;}
	.Epaper .ugA_Epaper_Left2{ width:100%;}
	
	/*-------------------------------線上諮詢------------------------------*/
	/*資料管理*/
	/*下拉選單*/
	.Inquiry .menuLeft{ width:50%;}
	
    
}

@media only screen and (min-width:0px) and (max-width:1400px) {
	
	/*-------------------------------頁碼設定------------------------------*/
    .ugA_MenuPageLeft{ width:100%;}
    .ugA_MenuPageRight{ width:100%;}
	.css_PageList { text-align:right;}

	/*會員管理下拉選單設定*/
	.Acct .menuLeft,.Acct .menuRight{ width:50%; margin:5px 0;}
	.Acct .menuLeft:first-child{ width:50%;}	
	
	
	
	/*-------------------------------會員管理------------------------------*/
    .Acct div.RightDiv01Left{ width:15%;}
    .Acct div.RightDiv01Right{ width:85%;}
	
	
}
	
@media only screen and (min-width:0px) and (max-width:1280px) {
	/*-------------------------------電子報編輯------------------------------*/
	/*選單*/
	.Epaper .ugA_Epaper_Left{ width:100%;}
	.Epaper .ugA_Epaper_Left2{ width:100%;}

	
	/*-------------------------------會員管理------------------------------*/
    .Acct div.RightDiv01Left{ width:20%;}
    .Acct div.RightDiv01Right{ width:80%;}

	
	
}
	
@media only screen and (min-width:0px) and (max-width:1300px){
}
	
@media only screen and (min-width:0px) and (max-width:1200px){

	/*-------------------------------會員管理-------------------------------*/
	/*會員資料*/
    .Acct table.ugA_Acct th:nth-of-type(10n+4){ display:none;}
    .Acct table.ugA_Acct td:nth-of-type(10n+4){ display:none;}
	.Acct table.ugA_Acct th:nth-of-type(10n+6){ display:none;}
    .Acct table.ugA_Acct td:nth-of-type(10n+6){ display:none;}

	
    /*-------------------------------相簿(多檔上傳)-------------------------------*/
    /*相簿*/
    .Album_Multi div.Album01{ width:50%;}
	
	.PhotoBox{ width:30.333%; margin:0 1.5%; margin-bottom:25px;}

    /*-------------------------------上方選單特別設定------------------------------*/
    div.Left01w .Left01 { width:30%;}
	
    /*-------------------------------優吉兒掛號資料------------------------------*/
    /*下拉選單*/
    .uGear_Post .menuLeft{ width:100%;}
	
}

@media only screen and (min-width:0px) and (max-width:1050px){
	/*-------------------------------線上諮詢------------------------------*/
	/*資料管理*/
	/*下拉選單*/
	.Inquiry .menuLeft{ width:100%;}
	
 
	
	/*-------------------------------會員管理------------------------------*/
	.Acct div.RightDiv01{width:100%;}
    .Acct div.RightDiv01Left{ width:25%;}
    .Acct div.RightDiv01Right{ width:75%;}
	
	
	
	/*------------------------------inputBox設定-------------------------------*/
    .RightDiv div.inputBox{ width:100%;}
    
	/*-------------------------------上方選單特別設定------------------------------*/
    div.Left01w .Left01 { width:50%;}
	
	
}

@media only screen and (min-width:0px) and (max-width:960px){
	
}

@media only screen and (min-width:0px) and (max-width:900px){
   /*-------------------------------系統設定(單元名稱)背景底圖-------------------------------*/
    .Settings table.ugA_Settings_unit{ display:table;}

}
	
@media only screen and (min-width:0px) and (max-width:880px){
   
}

@media only screen and (min-width:0px) and (max-width:850px){
	
	/*-------------------------------網站優化設定(網站關鍵字)廠商通知信-------------------------------*/
	.HomeImg textarea { background:#fff;}
	.HomeImg textarea:focus { background:#ffffcc;}
	
	/*-------------------------------單元點擊次數-------------------------------*/
	.Counter table.tbStyle01 td:nth-child(5n+1){ text-align:left; padding-left:20px;}
	
    /*-------------------------------相簿-------------------------------*/
	/*相片*/
	.Album .ugA_Photo_Wrapper .Left { width:100%;}
    .Album .ugA_Photo_Wrapper .Right { width:100%;}

    /*-------------------------------相簿(多檔上傳)-------------------------------*/
	/*相片*/
	.Album_Multi .ugA_Photo_Wrapper .Left { width:100%;}
    .Album_Multi .ugA_Photo_Wrapper .Right { width:100%;}
	
	/*下拉選單設定*/
	.menuWrapper input,.menuWrapper select { width:100%; margin-top:10px;}

    .PhotoBox{ width:47%; margin:0 1.5%; margin-bottom:25px;}

    /*-------------------------------電子報編輯------------------------------*/
    /*選單*/
    .Epaper select{ width:50%;}

    
	/*------------------------------inputBox設定-------------------------------*/
    .RightDiv div.inputBox{ width:50%;}
	
	/*------------------------------區域欄位設定-------------------------------*/
    .RightDiv div.addressform{ margin-bottom:10px;}

    /*-------------------------------上方選單特別設定------------------------------*/
    div.Left01w .Left01 { width:100%; margin-bottom:10px;}
	div.Left01w .Left02 { width:100%;}

	
    form .right input.longForm{ width:100%;}
	
}

/*-------------------------------表格一律在768px時變換-------------------------------*/
@media only screen and (min-width:0px) and (max-width:768px){
	.Paper .Label { margin:3px;}
	.Paper form .right select { min-height:40px; line-height:40px;}
    table.tbStyle01 th.m768-hide {display:none;}
    table.tbStyle01 td.m768-hide {display:none;}
    div.m768-hide {display:none;}

	/*-------------------------------權限管理-------------------------------*/
	.User table.tbStyle01 th:nth-of-type(6n+2){ display:none;}
	.User table.tbStyle01 td:nth-of-type(6n+2){ display:none;}
	.User table.tbStyle01 th:nth-of-type(6n+3){ display:none;}
	.User table.tbStyle01 td:nth-of-type(6n+3){ display:none;}
	
	/*-------------------------------系統設定(單元名稱)背景底圖-------------------------------*/
	.Settings table.tbStyle01 th:nth-of-type(4n+4){ display:none;}
	.Settings table.tbStyle01 td:nth-of-type(4n+4){ display:none;}
	
	.Settings table.ugA_Settings_unit th:nth-of-type(4n+2){ display:none;}
	.Settings table.ugA_Settings_unit td:nth-of-type(4n+2){ display:none;}
	.Settings table.ugA_Settings_unit th:nth-of-type(4n+4){ display:table-cell;}
	.Settings table.ugA_Settings_unit td:nth-of-type(4n+4){ display:table-cell;}
	
	
	/*-------------------------------單元點擊次數-------------------------------*/
	.Counter table.tbStyle01 th:nth-of-type(5n+2){ display:none;}
	.Counter table.tbStyle01 td:nth-of-type(5n+2){ display:none;}
	.Counter table.tbStyle01 th:nth-of-type(5n+4){ display:none;}
	.Counter table.tbStyle01 td:nth-of-type(5n+4){ display:none;}
	
	
	/*-------------------------------廣告輪播管理-------------------------------*/
	.Banner table.tbStyle01 th:nth-of-type(9n+1){ display:none;}
	.Banner table.tbStyle01 td:nth-of-type(9n+1){ display:none;}
	.Banner table.tbStyle01 th:nth-of-type(9n+3){ display:none;}
	.Banner table.tbStyle01 td:nth-of-type(9n+3){ display:none;}
	.Banner table.tbStyle01 th:nth-of-type(9n+4){ display:none;}
	.Banner table.tbStyle01 td:nth-of-type(9n+4){ display:none;}
	.Banner table.tbStyle01 th:nth-of-type(9n+5){ display:none;}
	.Banner table.tbStyle01 td:nth-of-type(9n+5){ display:none;}
	.Banner table.tbStyle01 th:nth-of-type(9n+6){ display:none;}
	.Banner table.tbStyle01 td:nth-of-type(9n+6){ display:none;}
	
	/*-------------------------------關於我們(多頁介紹)-------------------------------*/
	.Company table.tbStyle01 th:nth-of-type(6n+1){ display:none;}
	.Company table.tbStyle01 td:nth-of-type(6n+1){ display:none;}
	
	/*-------------------------------關於我們(分類多頁)-------------------------------*/
	.Company_Two table.tbStyle01 th:nth-of-type(6n+1){ display:none;}
	.Company_Two table.tbStyle01 td:nth-of-type(6n+1){ display:none;}

    /*-------------------------------最新消息-------------------------------*/
    .News table.ugA_NewsCat th:nth-of-type(7n+1){ display:none;}
    .News table.ugA_NewsCat td:nth-of-type(7n+1){ display:none;}
    /*文章發表類　*/
	.News table.ugA_News th:nth-of-type(7n+2){ display:none;}
	.News table.ugA_News td:nth-of-type(7n+2){ display:none;}
	.News table.ugA_News th:nth-of-type(7n+3){ display:none;}
	.News table.ugA_News td:nth-of-type(7n+3){ display:none;}
	/*網站連結類*/
	.News table.ugA_NewsURL th:nth-of-type(7n+2){ display:none;}
	.News table.ugA_NewsURL td:nth-of-type(7n+2){ display:none;}
	.News table.ugA_NewsURL th:nth-of-type(7n+3){ display:none;}
	.News table.ugA_NewsURL td:nth-of-type(7n+3){ display:none;}
	
	/*-------------------------------新聞牆-------------------------------*/
	.NewsGallery table.ugA_NewsGalleryCat th:nth-of-type(6n+1){ display:none;}
	.NewsGallery table.ugA_NewsGalleryCat td:nth-of-type(6n+1){ display:none;}
	/*資料管理*/
    .NewsGallery table.ugA_NewsGallery th:nth-of-type(7n+2){ display:none;}
    .NewsGallery table.ugA_NewsGallery td:nth-of-type(7n+2){ display:none;}
    .NewsGallery table.ugA_NewsGallery th:nth-of-type(7n+3){ display:none;}
    .NewsGallery table.ugA_NewsGallery td:nth-of-type(7n+3){ display:none;}
	
	/*-------------------------------常見問題-------------------------------*/
    .Faq table.ugA_FaqCat th:nth-of-type(6n+1){ display:none;}
    .Faq table.ugA_FaqCat td:nth-of-type(6n+1){ display:none;}
	/*問題資料　*/
	.Faq table.ugA_Faq th:nth-of-type(6n+1){ display:none;}
	.Faq table.ugA_Faq td:nth-of-type(6n+1){ display:none;}
	
	/*-------------------------------檔案下載-------------------------------*/
    .Down table.ugA_DownCat th:nth-of-type(7n+1){ display:none;}
    .Down table.ugA_DownCat td:nth-of-type(7n+1){ display:none;}
    .Down table.ugA_DownCat th:nth-of-type(7n+3){ display:none;}
    .Down table.ugA_DownCat td:nth-of-type(7n+3){ display:none;}
	/*下載資料*/
	.Down table.ugA_Down th:nth-of-type(6n+1){ display:none;}
	.Down table.ugA_Down td:nth-of-type(6n+1){ display:none;}
	.Down table.ugA_Down th:nth-of-type(6n+3){ display:none;}
	.Down table.ugA_Down td:nth-of-type(6n+3){ display:none;}
	
	/*-------------------------------友站連結-------------------------------*/
    .Link table.ugA_LinkType th:nth-of-type(6n+1){ display:none;}
    .Link table.ugA_LinkType td:nth-of-type(6n+1){ display:none;}
	/*資料管理　*/
    .Link table.ugA_Link th:nth-of-type(6n+1){ display:none;}
    .Link table.ugA_Link td:nth-of-type(6n+1){ display:none;}

	
	/*-------------------------------會員管理-------------------------------*/
    .Acct table.ugA_AcctCat th:nth-of-type(5n+1){ display:none;}
    .Acct table.ugA_AcctCat td:nth-of-type(5n+1){ display:none;}
	.Acct table.ugA_AcctCat th:nth-of-type(5n+3){ display:none;}
    .Acct table.ugA_AcctCat td:nth-of-type(5n+3){ display:none;}
	/*會員資料*/
    .Acct table.ugA_Acct th:nth-of-type(10n+1){ display:none;}
    .Acct table.ugA_Acct td:nth-of-type(10n+1){ display:none;}
	.Acct table.ugA_Acct th:nth-of-type(10n+5){ display:none;}
    .Acct table.ugA_Acct td:nth-of-type(10n+5){ display:none;}
	.Acct table.ugA_Acct th:nth-of-type(10n+7){ display:none;}
    .Acct table.ugA_Acct td:nth-of-type(10n+7){ display:none;}
	
	/*-------------------------------影片分享(多筆介紹)------------------------------*/
    .Media table.ugA_MediaType th:nth-of-type(5n+1){ display:none;}
    .Media table.ugA_MediaType td:nth-of-type(5n+1){ display:none;}
	
	/*-------------------------------影片分享(多筆介紹)------------------------------*/
    .Media_Two table.ugA_MediaType th:nth-of-type(6n+1){ display:none;}
    .Media_Two table.ugA_MediaType td:nth-of-type(6n+1){ display:none;}
	/*資料管理*/
    .Media_Two table.ugA_Media th:nth-of-type(5n+1){ display:none;}
    .Media_Two table.ugA_Media td:nth-of-type(5n+1){ display:none;}
	
	/*-------------------------------電子報訂閱名單------------------------------*/
    .EpaperEmail table.ugA_EpaperEmail th:nth-of-type(5n+1){ display:none;}
    .EpaperEmail table.ugA_EpaperEmail td:nth-of-type(5n+1){ display:none;}
	
	/*-------------------------------電子報編輯------------------------------*/
    .Epaper table.ugA_Epaper th:nth-of-type(9n+1){ display:none;}
    .Epaper table.ugA_Epaper td:nth-of-type(9n+1){ display:none;}
    .Epaper table.ugA_Epaper th:nth-of-type(9n+6){ display:none;}
    .Epaper table.ugA_Epaper td:nth-of-type(9n+6){ display:none;}
	
	
		
	/*-------------------------------交流園地------------------------------*/
    .Forum table.ugA_ForumCat th:nth-of-type(6n+1){ display:none;}
    .Forum table.ugA_ForumCat td:nth-of-type(6n+1){ display:none;}
	/*討論主題*/
    .Forum table.ugA_ForumItem th:nth-of-type(9n+2){ display:none;}
    .Forum table.ugA_ForumItem td:nth-of-type(9n+2){ display:none;}
    .Forum table.ugA_ForumItem th:nth-of-type(9n+3){ display:none;}
    .Forum table.ugA_ForumItem td:nth-of-type(9n+3){ display:none;}
    .Forum table.ugA_ForumItem th:nth-of-type(9n+4){ display:none;}
    .Forum table.ugA_ForumItem td:nth-of-type(9n+4){ display:none;}
    .Forum table.ugA_ForumItem th:nth-of-type(9n+5){ display:none;}
    .Forum table.ugA_ForumItem td:nth-of-type(9n+5){ display:none;}
	/*討論回應　*/
	.Forum table.ugA_ForumReply th:nth-of-type(6n+2){ display:none;}
	.Forum table.ugA_ForumReply td:nth-of-type(6n+2){ display:none;}
	.Forum table.ugA_ForumReply th:nth-of-type(6n+3){ display:none;}
	.Forum table.ugA_ForumReply td:nth-of-type(6n+3){ display:none;}
	.Forum table.ugA_ForumReply th:nth-of-type(6n+4){ display:none;}
	.Forum table.ugA_ForumReply td:nth-of-type(6n+4){ display:none;}
	
	/*-------------------------------線上諮詢------------------------------*/
    .Inquiry table.ugA_InquiryCat th:nth-of-type(5n+1){ display:none;}
    .Inquiry table.ugA_InquiryCat td:nth-of-type(5n+1){ display:none;}
	/*資料管理*/
    .Inquiry table.ugA_Inquiry th:nth-of-type(7n+1){ display:none;}
    .Inquiry table.ugA_Inquiry td:nth-of-type(7n+1){ display:none;}
    .Inquiry table.ugA_Inquiry th:nth-of-type(7n+3){ display:none;}
    .Inquiry table.ugA_Inquiry td:nth-of-type(7n+3){ display:none;}
    .Inquiry table.ugA_Inquiry th:nth-of-type(7n+4){ display:none;}
    .Inquiry table.ugA_Inquiry td:nth-of-type(7n+4){ display:none;}
    .Inquiry table.ugA_Inquiry th:nth-of-type(7n+5){ display:none;}
    .Inquiry table.ugA_Inquiry td:nth-of-type(7n+5){ display:none;}
	
	/*-------------------------------問卷調查------------------------------*/
    .Survey table.ugA_SurveyCat th:nth-of-type(7n+1){ display:none;}
    .Survey table.ugA_SurveyCat td:nth-of-type(7n+1){ display:none;}
    .Survey table.ugA_SurveyCat th:nth-of-type(7n+3){ display:none;}
    .Survey table.ugA_SurveyCat td:nth-of-type(7n+3){ display:none;}
	
	/*問卷資料　*/
    .Survey table.ugA_Survey th:nth-of-type(9n+1){ display:none;}
    .Survey table.ugA_Survey td:nth-of-type(9n+1){ display:none;}
    .Survey table.ugA_Survey th:nth-of-type(9n+3){ display:none;}
    .Survey table.ugA_Survey td:nth-of-type(9n+3){ display:none;}
    .Survey table.ugA_Survey th:nth-of-type(9n+4){ display:none;}
    .Survey table.ugA_Survey td:nth-of-type(9n+4){ display:none;}
	/*問卷題目*/
    .Survey table.ugA_SurveyItem th:nth-of-type(7n+1){ display:none;}
    .Survey table.ugA_SurveyItem td:nth-of-type(7n+1){ display:none;}
    .Survey table.ugA_SurveyItem th:nth-of-type(7n+3){ display:none;}
    .Survey table.ugA_SurveyItem td:nth-of-type(7n+3){ display:none;}
	/*題目選項*/
    .Survey table.ugA_SurveySel th:nth-of-type(5n+1){ display:none;}
    .Survey table.ugA_SurveySel td:nth-of-type(5n+1){ display:none;}
	/*問卷樣本　*/
    .Survey table.ugA_SurveyRecCat th:nth-of-type(9n+1){ display:none;}
    .Survey table.ugA_SurveyRecCat td:nth-of-type(9n+1){ display:none;}
    .Survey table.ugA_SurveyRecCat th:nth-of-type(9n+2){ display:none;}
    .Survey table.ugA_SurveyRecCat td:nth-of-type(9n+2){ display:none;}
    .Survey table.ugA_SurveyRecCat th:nth-of-type(9n+4){ display:none;}
    .Survey table.ugA_SurveyRecCat td:nth-of-type(9n+4){ display:none;}
    .Survey table.ugA_SurveyRecCat th:nth-of-type(9n+6){ display:none;}
    .Survey table.ugA_SurveyRecCat td:nth-of-type(9n+6){ display:none;}
	
	.Survey .RightDivSpan { width:100%; height:auto; overflow:hidden; display:block; margin:10px 0;}
	
	
    /*-------------------------------首頁燈箱廣告------------------------------*/
    .WinAD table.ugA_WinAD th:nth-of-type(6n+2){ display:none;}
    .WinAD table.ugA_WinAD td:nth-of-type(6n+2){ display:none;}
    .WinAD table.ugA_WinAD th:nth-of-type(6n+3){ display:none;}
    .WinAD table.ugA_WinAD td:nth-of-type(6n+3){ display:none;}
	
	
	
    /*-------------------------------前台單元設定 天(選單底圖)地(版權宣告)------------------------------*/
    .settings_ago table.ugA_MenuAgo th:nth-of-type(5n+1){ display:none;}
    .settings_ago table.ugA_MenuAgo td:nth-of-type(5n+1){ display:none;}
    .settings_ago table.ugA_MenuAgo th:nth-of-type(5n+2){ display:none;}
    .settings_ago table.ugA_MenuAgo td:nth-of-type(5n+2){ display:none;}
	/*前台Menu底圖　*/
    .settings_ago table.ugA_Settings_MenuAgo th:nth-of-type(4n+3){ display:none;}
    .settings_ago table.ugA_Settings_MenuAgo td:nth-of-type(4n+3){ display:none;}
    .settings_ago table.ugA_Settings_MenuAgo th:nth-of-type(4n+4){ display:none;}
    .settings_ago table.ugA_Settings_MenuAgo td:nth-of-type(4n+4){ display:none;}
	
   
}

@media only screen and (min-width:0px) and (max-width:650px){
}

@media only screen and (min-width:0px) and (max-width:550px){
    /*------------------------------inputBox設定-------------------------------*/
    .RightDiv div.inputBox2{ width:100%;}
	
}

@media only screen and (min-width:0px) and (max-width:460px){

 	
	/*-------------------------------系統設定(單元名稱)背景底圖-------------------------------*/
	.Settings table.tbStyle01 th:nth-of-type(4n+1){ width:50%;}
	.Settings table.tbStyle01 th:nth-of-type(4n+2){ width:50%;}
	.Settings table.tbStyle01 td:nth-of-type(4n+1){ width:50%; overflow:hidden;}
	.Settings table.tbStyle01 td:nth-of-type(4n+1) img { max-width:100%;}
	.Settings table.tbStyle01 td:nth-of-type(4n+2){ width:50%;}
	.Settings table.tbStyle01 th:nth-of-type(4n+3){ display:none;}
	.Settings table.tbStyle01 td:nth-of-type(4n+3){ display:none;}
	.Settings table.ugA_Settings_unit th:nth-of-type(4n+3){ display:none;}
	.Settings table.ugA_Settings_unit td:nth-of-type(4n+3){ display:none;}
	
}

@media only screen and (min-width:0px) and (max-width:450px){
    /*-------------------------------相簿(多檔上傳)-------------------------------*/
	.PhotoBox{ width:97%; margin:0 1.5%; margin-bottom:25px;}
	
	.ContentDivWrapper .ContentDiv div.shortFormWrapper{ width:100%; text-align:left;}
	
}


/*彈跳視窗*/
.modalPopup {
    border: 2px solid #7088c6;
    background-color: #fff;
    padding: 10px;
    line-height: 25px;
}

.modalBackground {
    background-color: rgba(0,0,0,0.5);
    left: 0px;
    top: 0px;
}

/* ======== 功能選單按鈕 Start ======== */
.ContentDivWrapper .ContentDiv input.css_FnBu {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    min-width: 76px;
    background-image: url('../Images/Bg_FnBu.gif');
    background-repeat: no-repeat;
    background-position: 50% bottom;
    background-size: 100% 21px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
    letter-spacing: 0;
    vertical-align: bottom;
    padding-bottom: 2px;
    /*padding-bottom: 0px;
    height: 21px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;*/
    width:100px;
}

.ContentDivWrapper .ContentDiv input.css_FnBu_over, .css_FnBu:hover {
    min-width: 76px;
    height: 21px;
    background-image: url('../Images/Bg_FnBu_o.gif');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 21px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
    letter-spacing: 0;
    vertical-align: bottom;
    /*padding-bottom: 2px;
    padding-bottom: 0px;*/
    /*font-size:10pt;*/
}
/* ======== 功能選單按鈕 End ======== */
.ContentDivWrapper .ContentDiv div.Panel_Popup_Upload1 {
    background: #fff;
    border: 2px solid blue;
    width: 460px;
    height:100px;
}

.ContentDivWrapper .ContentDiv div.Panel_Popup_Upload2 {
    background: #fff;
    border: 2px solid blue;
    width: 300px;
}