@charset "utf-8";
/*=======================================全域設定=======================================*/

/*html5 標籤元素設定
------------------------*/
header, nav, section, article, aside, time, footer { display:block;}

/*全域屬性設定
------------------------*/
*, *:before, *:after { box-sizing: border-box;}
html, body { padding:0; margin:0;}
html { 
/*針對 Safiri Mobile 旋轉時自動放大做的調整*/
-webkit-text-size-adjust: 100%;}
body { font-family:'Roboto', "微軟正黑體";  } 
a img { border:0;}

/*共用元件設定
------------------------*/
.Div-W1000 { width:100%; height:auto; overflow:hidden; margin:0 auto; max-width:1420px; padding:0 10px; }
.Wrapper { width:100%; height:auto; overflow:hidden; margin:0 auto; background:#000; }

/*=======================================上方設定=======================================*/

/*Header設定
------------------------*/
.Header { width:100%; max-width:1420px;  height:200px; overflow:visible; margin:0 auto; padding:75px 0 75px 150px; position:relative;}
.Header .Div-W1000 { overflow:visible; }
.Header .Logo { width:115px; height:100px; overflow:hidden; position:absolute; left:0; top:50px; }
.Header .Logo a { display:block; width:115px; height:100px; overflow:hidden; }
.Header .Logo a img { width:100%; height:auto; display:block;}
.Header .Logo .Logo_png { display:none;}

/*Nav設定
------------------------*/
.Header .Nav { width:100%;  height:50px; overflow:visible;border-bottom:1px solid #2c2c2c; }
.Header .Nav * { padding:0; margin:0; list-style:none;}
.Header .Nav ul.MainMenu { width:100%; height:50px; overflow:visible; margin:0 auto; background:none; }
.Header .Nav ul.MainMenu li.MainMenuLiNone { width:20%; height:50px; float:left; }
.Header .Nav ul.MainMenu li.MainMenuLi { width:13.3333%; height:50px; line-height:50px; font-size:16px; text-align:center; float:left; position:relative; overflow:visible;}
.Header .Nav ul.MainMenu li.MainMenuLi a { width:100%; height:auto; display:block; text-decoration:none; overflow:hidden; }
.Header .Nav ul.MainMenu li.MainMenuLi a:link { color:#fafaf9;}
.Header .Nav ul.MainMenu li.MainMenuLi a:visited { color:#fafaf9;}
.Header .Nav ul.MainMenu li.MainMenuLi a:hover { color:#fff;}
.Header .Nav ul.MainMenu li.MainMenuLi a:active { color:#fff;}
.Header .Nav ul.MainMenu li.MainMenuLi a:after { opacity:0; display:none;}
.Header .Nav ul.MainMenu li.MainMenuLi a:before { content:""; width:100%; height:2px; display:block; position:absolute; bottom:0; left:0;  opacity:0;transition:all 0.3s;
background: #520000;
background: -moz-linear-gradient(left,  #520000 0%, #b40909 50%, #520000 100%);
background: -webkit-linear-gradient(left,  #520000 0%,#b40909 50%,#520000 100%);
background: linear-gradient(to right,  #520000 0%,#b40909 50%,#520000 100%);
 }
.Header .Nav ul.MainMenu li.MainMenuLi:hover a:before { opacity:1; left:0;}
.Header .Nav ul.MainMenu li.MainMenuLi ul.MainMenuSub { width:100%; height:auto; overflow:hidden; left:0; top:50px; position:absolute; z-index:9999; 
background:rgba(48,48,48,0.8); display:none; }
.Header .Nav ul.MainMenu li.MainMenuLi ul.MainMenuSub li { width:100%; height:auto; line-height:20px; text-align:left; overflow:hidden; border-bottom:1px solid #363636;}
.Header .Nav ul.MainMenu li.MainMenuLi ul.MainMenuSub li:last-child {  border-bottom:none;}
.Header .Nav ul.MainMenu li.MainMenuLi ul.MainMenuSub li a { display:block; width:100%; height:auto; overflow:hidden; padding:15px 2.5px; text-align:center; transition:all 0.3s; }
.Header .Nav ul.MainMenu li.MainMenuLi ul.MainMenuSub li a:hover { color:#ff4c4c; }
.Header .Nav ul.MainMenu li.MainMenuLi ul.MainMenuSub li a:before { display:none; }
.Header .NavFixed > ul.MainMenu { background:#000;    z-index: 99999;}

.Header .TopMenu { display:none;}
.Header .Search { display:none;}

.slicknav_btn { background:#fff; }
.slicknav_menu { margin-top:30px !important;}

/*=======================================首頁區塊設定=======================================*/

.DefContent { width:100%; height:auto; overflow:hidden; }

/*DefBanner設定
------------------------*/
.DefBanner { width:100%; height:auto; overflow:hidden; margin:0 auto;}
.DefBanner Img { display:block; }
.DefBanner .swiper-button-next, .DefBanner .swiper-button-prev { display:none;}
.DefBanner .swiper-pagination-bullet-active { background:#761010;}

/*DefAbout設定
------------------------*/
.DefAboutUs { width:100%; height:auto; overflow:hidden; padding:80px 0;
background: #4c4c4c;
background: -moz-linear-gradient(top, #4c4c4c 0%, #2c2c2c 0%, #2b2b2b 69%, #1c1c1c 91%, #131313 100%);
background: -webkit-linear-gradient(top, #4c4c4c 0%,#2c2c2c 0%,#2b2b2b 69%,#1c1c1c 91%,#131313 100%);
background: linear-gradient(to bottom, #4c4c4c 0%,#2c2c2c 0%,#2b2b2b 69%,#1c1c1c 91%,#131313 100%);   }
.DefAboutUs .DefAboutText { width:100%; max-width:1100px; height:auto; overflow:hidden; margin:0 auto; padding:40px;  margin-bottom:20px; }
.DefAboutUs .DefAboutText p { font-family:"微軟正黑體"; font-weight:300; text-align:center; font-size:18px; color:#FFF; padding:0; margin:0; line-height:30px;  }
.DefAboutUs Img { width:100%; max-width:800px; height:auto; display:block; margin:0 auto; }
.DefAboutUs .DefAboutBtn { width:150px; height:40px; overflow:hidden; margin:0 auto; border-top:1px solid #fff; border-bottom:1px solid #fff;  }
.DefAboutUs .DefAboutBtn a { width:150px; height:40px; display:block; text-align:center; text-decoration:none; color:#fff; line-height:40px;  }


/*DefProducts設定
------------------------*/
.DefProducts { width:100%; height:auto; overflow:hidden; padding:80px 0; background:#1b1b1b; }
.DefProducts .Div-W1000 { padding:0;}
.DefProducts h1 { margin:0; padding:0; text-align:center; color:#fff; font-size:50px; margin:50px 0; text-shadow: rgb(3, 3, 3) 3px 3px 4px;  }
.DefProducts ul { width:100%; height:auto; overflow:hidden; padding:0; margin:0 auto; text-align:center;}
.DefProducts ul * { padding:0; margin:0; list-style:none; text-decoration:none;}
.DefProducts ul li { display:inline-block; width:295px;height:295px;overflow:hidden;position:relative; margin:1% 20px; padding:2px;}
.DefProducts ul li:after { width:100%; height:100%; content:""; display:block; position:absolute; z-index:0; top:0; left:0;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;
background: #b40909;
background: -moz-linear-gradient(top,  #b40909 18%, #520000 100%);
background: -webkit-linear-gradient(top,  #b40909 18%,#520000 100%);
background: linear-gradient(to bottom,  #b40909 18%,#520000 100%);}
.DefProducts ul li .DefProductsImg { width:100%; height:auto; display:block; background:#000; -moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%; overflow:hidden; position:relative; z-index:10;    }
.DefProducts ul li .DefProductsImg Img { width:290px; height:290px; display:block; }
.DefProducts ul li .HoverText { width:100%; height:100%; overflow:hidden;  position:absolute; z-index:100; top:0; left:0;
display: -webkit-flex; display: flex;  -webkit-align-items: center;align-items: center;  -webkit-justify-content: center;  justify-content: center;pointer-events: none;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%; opacity:0; transition:all 0.3s;
background: #842300;
background: -moz-linear-gradient(top,  #842300 1%, #520000 100%);
background: -webkit-linear-gradient(top,  #842300 1%,#520000 100%);
background: linear-gradient(to bottom,  #842300 1%,#520000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#842300', endColorstr='#520000',GradientType=0 );
}
.DefProducts ul li .HoverText a { width:100%; height:auto; display:block; color:#fff; text-align:center; }
.DefProducts ul li .HoverText a.ProductName { width:100%; height:auto; overflow:hidden; display:block; font-size:26px; margin-bottom:10px;white-space: nowrap; text-overflow: ellipsis;-o-text-overflow: ellipsis; max-width:280px; }
.DefProducts ul li .HoverText a.ProductType { width:100%; height:auto; overflow:hidden; display:block;font-size:18px; white-space: nowrap; text-overflow: ellipsis;-o-text-overflow: ellipsis;  max-width:280px; }
.DefProducts ul li:hover .HoverText { opacity:1;}


/*DefNews設定
------------------------*/
.DefNews { width:100%; height:auto; overflow:hidden; padding:80px 0;
background: #4c4c4c;
background: -moz-linear-gradient(top, #4c4c4c 0%, #2c2c2c 0%, #2b2b2b 69%, #1c1c1c 91%, #131313 100%);
background: -webkit-linear-gradient(top, #4c4c4c 0%,#2c2c2c 0%,#2b2b2b 69%,#1c1c1c 91%,#131313 100%);
background: linear-gradient(to bottom, #4c4c4c 0%,#2c2c2c 0%,#2b2b2b 69%,#1c1c1c 91%,#131313 100%);    }
.DefNews h1 { margin:0; padding:0; text-align:center; color:#fff; font-size:50px; margin:50px 0;text-shadow: rgb(3, 3, 3) 3px 3px 4px;   }
.DefNews ul { width:100%; height:auto; overflow:hidden; margin:0; padding:0; }
.DefNews ul * { margin:0; padding:0; text-decoration:none; list-style:none; }
.DefNews ul li { width:100%; height:auto; overflow:hidden; padding:15px 10px 15px 0; border-bottom:1px solid #474747; padding-left:125px; min-height:140px; position:relative;/* display: -webkit-flex;
  display:         flex;  -webkit-align-items: center;          align-items: center;  -webkit-justify-content: center;          justify-content: center;*/ }
.DefNews ul li .News_Date { width:110px; height:110px; display:block;  -webkit-flex: none; flex: none;  color:#FFF; text-align:center; font-size:18px; padding:15px 10PX; position:absolute; top:15px; left:15px;
border: 2px solid #ccc;}
.DefNews ul li .News_Date span { font-size:28px; font-weight:bold; }
.DefNews ul li Div { -webkit-flex: 1;  flex: 1; padding-left:20px; overflow:hidden; max-height:4em;}
.DefNews ul li Div * { display: none !important;}
.DefNews ul li .News_Title { width:100%; line-height:30px; height:auto; overflow:hidden; display:block!important; color:#FFF; font-size:26px; margin-bottom:0;/* white-space: nowrap; text-overflow: ellipsis;-o-text-overflow: ellipsis;*/ padding:10px 15px; }
.DefNews ul li .News_Detail {  width:100%; line-height:24px; height:auto; overflow:hidden; display:block!important; font-size:18px; padding:0 15px; color:#898989;white-space: nowrap; text-overflow: ellipsis;-o-text-overflow: ellipsis;}

/*Partner設定
------------------------*/
.Partner { width:100%; height:auto; overflow:hidden; padding:80px 0; background:#1b1b1b;  }
.Partner h1 { margin:0; padding:0; text-align:center; color:#fff; font-size:50px; margin:50px 0;text-shadow: rgb(3, 3, 3) 3px 3px 4px;   }
.Partner ul { width:100%; height:auto; overflow:hidden; margin:0 auto; padding:0; text-align:center; }
.Partner ul * { margin:0; padding:0; list-style:none; }
.Partner ul li { display:inline-block; width:100px; height:100px; overflow:hidden; margin:10px 40px; }
.Partner ul li div { width:100%; height:100%; display: -webkit-flex; display: flex;  -webkit-align-items: center;  align-items: center;  -webkit-justify-content: center;          justify-content: center; position:relative; }
.Partner ul li img { display:block; margin:0 auto; }


/*Footer設定
------------------------*/
.footer { width:100%; height:auto; overflow:hidden; padding:50px 0 30px 0;/* background:none !important;*/}
/*.footer * { display:none;} 
.footer .Div-W1000 { display:block;}
.footer .Div-W1000 * { display:block; color:#fff !important;}*/
.footer .GoTop { display:none;}
/*優吉兒網站連結*/
.footer .uGear {     width: 170px;  height: 60px;    float: right;    text-align: left;    margin-top: 30px;    display: block;    position: relative;    top: inherit;
    margin-right: 10px;    right: initial;} 


/*=======================================媒體查詢設定=======================================*/



@media only screen and (min-width:0px) and (max-width:1400px) {
.DefProducts ul { max-width:700px; }
}

@media only screen and (min-width:0px) and (max-width:1024px) {
.Header .Nav ul.MainMenu li.MainMenuLi { font-size:15px;}
}

@media only screen and (min-width:0px) and (max-width:768px) {
.Header { height:120px; overflow:hidden; padding:10px 0;}
.Header .Nav  { display:none;}	
.Header .Div-W1000 { overflow:hidden;}
.Header .Logo { width:115px; height:100px; position:relative; top:inherit; left:inherit; margin-left:0; z-index:99;}
	
.DefBanner .swiper-pagination  { display:none;}	
	
.DefAboutUs,.DefProducts,.DefNews,.Partner { padding:50px 0;}

.DefAboutUs .DefAboutText { padding:20px;}
.DefAboutUs .DefAboutText p { font-size:16px;}

.DefProducts h1 { font-size:30px;}
.DefProducts ul { max-width:350px; }
.DefProducts ul li { margin:20px 0;}


.DefNews h1 { font-size:30px;}
.DefNews ul li .News_Title { font-size:24px;}
.DefNews ul li .News_Detail { font-size:16px;}

.Partner h1 { font-size:30px;}

.footer .Copyright { text-align:center; line-height:30px; display:block; font-size:14px; }

.footer .uGear { max-width:inherit; width:100%; height:auto; clear:both; float:none; text-align:center; background:none; margin-top:50px;  }
.footer .uGear:hover {background:none;}
.footer .uGear a { display:inline-block; height:auto; line-height:25px;  text-indent:0px;}

}

@media only screen and (min-width:0px) and (max-width:600px) {
	
.DefNews ul li .News_Detail { display:none!important;}

}


