<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="dbConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ug_DemoWebForm.mdb;" providerName="System.Data.OleDb"/>
    <!--<add name="dbConnectionString" connectionString="Data Source=PGR001Win10\SQLEXPRESS;Initial Catalog=VOH;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <!--網站顯示的公司名稱-->
    <add key="CompName" value="uGear 優吉兒 .Net WebForm Demo"/>
    <!--是否承租空間(Y:有 , N:無)-->
    <add key="RentSts" value="Y"/>
    <!--主機承租 - 結束時間-->
    <add key="EndDate" value="2020/12/31"/>
    <!--Quota-->
    <add key="Quota" value="1073741824"/>
    
    <add key="HiNetSpace" value="http://hispace.ugear.tw"/>
  </appSettings>
  <system.web>
		<customErrors mode="On" defaultRedirect="~/index.aspx">
			<error statusCode="403" redirect="~/index.aspx"/>
			<error statusCode="404" redirect="~/index.aspx"/>
			<error statusCode="500" redirect="~/index.aspx"/>
		</customErrors>
    <compilation targetFramework="4.6.2" debug="true"/>
    <httpRuntime targetFramework="4.6.2"/>
    <sessionState timeout="1" ></sessionState>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
  		<httpErrors>
			<remove statusCode="401" subStatusCode="-1"/>
			<remove statusCode="403" subStatusCode="-1"/>
			<remove statusCode="404" subStatusCode="-1"/>
			<remove statusCode="405" subStatusCode="-1"/>
			<remove statusCode="406" subStatusCode="-1"/>
			<remove statusCode="412" subStatusCode="-1"/>
			<remove statusCode="500" subStatusCode="-1"/>
			<remove statusCode="501" subStatusCode="-1"/>
			<remove statusCode="502" subStatusCode="-1"/>
			<error statusCode="401" prefixLanguageFilePath="" path="/index.aspx" responseMode="Redirect"/>
			<error statusCode="403" prefixLanguageFilePath="" path="/index.aspx" responseMode="Redirect"/>
			<error statusCode="404" prefixLanguageFilePath="" path="/index.aspx" responseMode="Redirect"/>
			<error statusCode="405" prefixLanguageFilePath="" path="/index.aspx" responseMode="Redirect"/>
			<error statusCode="406" prefixLanguageFilePath="" path="/index.aspx" responseMode="Redirect"/>
			<error statusCode="412" prefixLanguageFilePath="" path="/index.aspx" responseMode="Redirect"/>
			<error statusCode="500" prefixLanguageFilePath="" path="/index.aspx" responseMode="Redirect"/>
			<error statusCode="501" prefixLanguageFilePath="" path="/index.aspx" responseMode="Redirect"/>
			<error statusCode="502" prefixLanguageFilePath="" path="/index.aspx" responseMode="Redirect"/>
		</httpErrors>
  </system.webServer>
</configuration>
<!--ProjectGuid: 9D93F2F2-8F92-43AD-8500-DE052637AC69-->